html,
body,
#game-container {
  margin: 0;
  padding: 0;
}

#game-container {
  min-width: 50vw;
  width: 100%;
  min-height: 50vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-container>canvas {
  border-radius: 5px;
}

